[submodule "external/rcabench"]
	path = external/rcabench
	url = https://github.com/JianhongTu/RCAbench
	branch = simplify-mini-swe-agent-setup
	shallow = true
[submodule "external/text-2-sql-agent"]
	path = external/text-2-sql-agent
	url = https://github.com/ashcastelinocs124/text-2-sql-agent
	shallow = true
[submodule "external/aver-green-agent"]
	path = external/aver-green-agent
	url = https://github.com/weelzo/aver-green-agent
	shallow = true
[submodule "external/pi-bench"]
	path = external/pi-bench
	url = https://github.com/Jyoti-Ranjan-Das845/pi-bench
	shallow = true
[submodule "external/icu-later"]
	path = external/icu-later
	url = https://github.com/abasit/FhirAgentEvaluator
	shallow = true
[submodule "external/netarena"]
	path = external/netarena
	url = https://github.com/Froot-NetSys/NetPress
	branch = a2a-agentx
	shallow = true
