run = "npm run start"
language = "nodejs"
modules = ["nodejs-20", "web", "nix"]

[nix]
packages = ["nodejs", "npm"]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 3000
externalPort = 80
