run = "npm run start"
language = "nodejs"
modules = ["nodejs-20", "web", "nix"]

[nix]
packages = ["nodejs", "npm"]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "serve -s build -l 3000"]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm run build"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 42214058
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start"

[[workflows.workflow]]
name = "Lint"
author = 42214058
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run lint"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run format"

[[workflows.workflow]]
name = "Backend Server"
author = 42214058
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && npm run dev"
